body {
  font-family: pretendard, sans-serif;
}

.favorite {
  width: 190px;
  background: linear-gradient(180deg, #CCCCCC 0%, #EEEEEE 100%);
  border: 1px solid #A3A3A3;
  border-radius: 5px;
  color: #181818;
  padding: 12px;
  position: relative;
}

.favorite__title {
  width: 80px;
  color: #181818;
  font-weight: 700;
  line-height: 150%;
  margin: 0;
  font-size: 16px;
}

.favorite__title span {
  color: #ED552F;
}

/* 더보기 */
.favorite__more {
  font-size: 15px;
  font-weight: 500;
  line-height: 150%;
  text-decoration: none;
  position: absolute;
  top: 12px;
  right: 12px;
  color: #181818;
}

.favorite__more::before {
  content: url(./assets/Union.png);
  position: absolute;
  top: 2px;
  right: 43px;
}

/* 리스트 */
.favorite__list {
  display: flex;
  flex-flow: column nowrap;
  list-style: none;
  padding: 0;
  margin: 8px 0 0 0;
  gap: 8px;
}

.favorite__list li {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.favorite__list li a {
  flex-grow: 2;
  padding-left: 4px;
  line-height: 150%;
  font-size: 14px;
  text-decoration: none;
  color: inherit;
}

/* 리스트 스타일 */
.favorite__list li::before {
  width: 12px;
  height: 12px;
  background: #A3A3A3;
  border-radius: 7px;
  color: #fff;
  padding: 4px;
  text-align: center;
  font-size: 11px;
  line-height: 110%;
}

.w3c::before {
  content: "1";
}
.web::before {
  content: "2";
}
.css::before {
  content: "3";
}
.mdn::before {
  content: "4";
}

/* 랭킹 */
.favorite__list li::after {
  content: "";
  display: block;
  width: 9px;
  height: 11px;
  background-image: url(./assets/rank.png);
}

.w3c::after {
  background-position: 0 0;
}

.web::after {
  background-position: 0 -44.5px;
}

.css::after {
  background-position: 0 -22.25px;
}

.mdn::after {
  background-position: 0 0;
}