* {
  font-family: 'Noto Sans KR', sans-serif;
}

/* 전체 박스 */
.newContent {
  margin: 10px;
  width: 380px;
  color: #181818;
}

/* 상위 박스 */
.newContent-top-wrapper {
  font-size: 14px;
  line-height: 150%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
}

.newcontent-title {
  font-weight: 700;
  color: #ED552F;
  grid-area: 1/1/1/2;
}

.newcontent-more {
  background: url(./assets/Union.png) no-repeat 0 50% / 14px 14px;
  display: block;
  text-align: right;
  text-decoration: none;
  font-weight: 400;
  color: #000;
  grid-area: 1/7/1/8;
}

.division {
  margin: 12px 0;
  height: 1px;
  background: linear-gradient(90deg, #A9A9A9 -1.32%, #FFFFFF 100%);
  ;
}

/* 하위 박스 */
.newContent-bottom-wrapper {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto;
}

.bottom-wrapper-image {
  text-align: center;
  grid-area: 1/1/1/2;
}

.bottom-wrapper-image img {
  box-shadow: 0px 15px 15px 5px #AAAAAA;
}

.bottom-wrapper-image p {
  margin: 10px 0 0 0;
  font-size: 13px;
}

.bottom-wrapper-paragraph {
  text-align: justify;
  line-height: 150%;
  grid-area: 1/3/2/11;
}

.paragraph-title {
  font-size: 13px;
  font-weight: 700;
  margin: 0;
}

.paragraph-date,
.paragraph-content {
  font-size: 12px;
  font-weight: 400;
  margin: 0;
}

.paragraph-content {
  margin-top: 12px;
}